// style.scss

// Font
@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark:400,500,700|Lato:400,700,900');

// Variables
$primary: #1c3ed3;
$secondary: #6d1cd3;
$grey: #f4f5fb;
$font-family-base: 'Lato', Arial, sans-serif, -apple-system;
$font-family-heading: 'Palanquin Dark', Arial, sans-serif, -apple-system;
$font-family-mono: 'monospace';
$font-size-base: 1rem;
