<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
	<link rel="icon" type="image/png" href="/favicon.png"/>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <a href="https://nsfwgaming.gq">
		<img class="page-header-image" src="/nsfw.png" alt="NSFW Gaming">
	  </a>
	   <a href="https://twitter.com/NSFWGamingGG" target="_blank">
			<img class="social-media-icon " src="/icons/twitter.png" alt="Twitter">
	   </a>
	   <a href="https://www.instagram.com/nsfwgaming/" target="_blank">
			<img class="social-media-icon " src="/icons/instagram.png" alt="Instagram">
	   </a>
	   <a href="https://discord.gg/CEd5Xnt" target="_blank">
			<img class="social-media-icon " src="/icons/discord.png" alt="Discord">
	   </a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
	  
    </main>
	<footer class="site-footer">
        <span class="site-footer-credits">© Copyright 2018-2021. All Rights Reserved.</span>
    </footer>
	<div class="container">
	
    <div class="fake_img">
		<a href="https://twitter.com/NSFWGamingGG" target="_blank">
			<img class="social-media-footer" src="/icons/og/twitter.png" alt="Twitter">
		</a>
	</div>
    <div class="fake_img">
		<a href="https://www.instagram.com/nsfwgaming/" target="_blank">
			<img class="social-media-footer" src="/icons/og/instagram.png" alt="Instagram">
		</a>
	</div>
	<div class="fake_img">
		<a href="https://www.facebook.com/NSFWGamingGG" target="_blank">
			<img class="social-media-footer" src="/icons/og/facebook.png" alt="Facebook">
		</a>
	</div>
    <div class="fake_img">
		<a href="https://discord.gg/CEd5Xnt" target="_blank">
			<img class="social-media-footer" src="/icons/og/discord.png" alt="Discord">
		</a>
	</div>
	<div class="fake_img">
		<a href="https://www.youtube.com/channel/UC2kFTiWT1CVfCoyaJL5l6Xg" target="_blank">
			<img class="social-media-footer" src="/icons/og/youtube.png" alt="YouTube">
		</a>
	</div>
	</div>
  </body>
</html>
